<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <h1>Board Test</h1>
    <P>welcome </p>
   </div>
  </div>
 </body>
</html>
